@import "./highlighted.css";
@import "./lists.css";
@import "./typography.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable both-edges;
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}

::selection {
  background-color: theme("colors.blue.300");
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: theme("colors.blue.300");
  border-radius: 0px;
}
