@layer components {
  ol {
    list-style-type: decimal;
    counter-reset: list-counter -1;
    list-style-position: inside;

    li {
      counter-increment: list-counter;
      &::marker {
        @apply text-blue-200;
        content: counter(list-counter, decimal-leading-zero) " ";
      }
    }
  }

  ul {
    list-style-position: inside;

    li {
      &::marker {
        @apply text-blue-200 font-heading;
        content: "-> ";
      }
    }
  }
}
