---
import { skills } from "@/lib/utils";
import Skill from "../Skill.astro";
---

<section class="line-clamp-5 flex flex-wrap gap-8">
  {skills.map((skill) => <Skill skill={skill} size="large" />)}
  <span class="small my-auto">And many more...</span>
</section>
