---

---

<a href="/" class="w-fit h-fit">
  <picture>
    <source
      srcset="/images/initials.png"
      media="(max-width: 768px)"
      type="image/png"
    />

    <img src="/images/logo.png" alt="Logo" />
  </picture>
</a>
