---
type Props = {
  headings: { slug: string; text: string }[];
  id: string;
  description: string;
};

const { headings, id, description } = Astro.props;
---

<aside class="w-full space-y-2 overflow-hidden">
  <p>{description}</p>
  <ol class="space-y-4">
    {
      headings.map(({ slug, text }) => (
        <li class="truncate">
          <a class="highlighted truncate" href={`#${slug}`}>
            {text}
          </a>
        </li>
      ))
    }
  </ol>

  <a
    class="small block"
    href={`https://github.com/mikareich/portfolio/edit/main/src/content/posts/${id}`}
    >Edit this page on GitHub
  </a>
</aside>
