@import url("https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@source "./";

:root,
.default {
  --theme-font-body: "Geist";
  --theme-font-heading: "Geist";

  --theme-bg: var(--color-white);
  --theme-bg-accent: var(--color-gray-100);

  --theme-primary: var(--color-blue-500);
  --theme-foreground: var(--color-white);
  --theme-foreground-subtle: var(--color-gray-100);

  --theme-text: var(--color-gray-700);
  --theme-text-subtle: var(--color-gray-500);

  --theme-border: var(--color-gray-200);
}

.error {
  --theme-bg-accent: var(--color-red-100);
  --theme-primary: var(--color-red-600);
  --theme-foreground: var(--color-white);
  --theme-foreground-subtle: var(--color-red-100);
  --theme-text: var(--color-red-700);
  --theme-text-subtle: var(--color-red-500);
  --theme-border: var(--color-red-300);
}

.warning {
  --theme-bg-accent: var(--color-amber-100);
  --theme-primary: var(--color-amber-400);
  --theme-foreground: var(--color-gray-950);
  --theme-foreground-subtle: var(--color-amber-900);
  --theme-text: var(--color-amber-800);
  --theme-text-subtle: var(--color-amber-600);
  --theme-border: var(--color-amber-300);
}

@theme inline {
  --font-body: var(--theme-font-body);
  --font-heading: var(--theme-font-heading);

  --color-theme-bg: var(--theme-bg);
  --color-theme-bg-accent: var(--theme-bg-accent);

  --color-theme-primary: var(--theme-primary);
  --color-theme-foreground: var(--theme-foreground);
  --color-theme-foreground-subtle: var(--theme-foreground-subtle);

  --color-theme-text: var(--theme-text);
  --color-theme-text-subtle: var(--theme-text-subtle);

  --color-theme-border: var(--theme-border);
}

@utility outlined {
  @apply ring-3 ring-theme-primary/50;
}

@utility text-link {
  @apply text-theme-primary underline decoration-current focus-visible:outline-none focus-visible:outlined;
}

@utility text-heading-1 {
  @apply font-heading font-bold mt-0 mb-8 text-3xl;
}

@utility text-heading-2 {
  @apply font-heading font-bold mt-9 mb-4 text-2xl;
}

@utility text-heading-3 {
  @apply font-heading font-bold mt-6 mb-2 text-xl;
}

@utility text-heading-4 {
  @apply font-heading font-bold mt-6 mb-2 text-lg;
}

@utility text-body {
  @apply font-body font-normal text-base leading-loose select-text;
}

@utility text-action {
  @apply font-body uppercase font-medium text-base leading-none select-none;
}

@utility text-small {
  @apply font-body uppercase font-normal text-xs leading-loose select-text;
}
